# Не отслеживать виртуальное окружение
venv/
env/

# Не добавлять базу данных
*.db

# Не добавлять переменные окружения
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db